sources:
  in:
    type: "{{ vector_input_type }}"
    include: 
{% for path in vector_input_include %}
      - "{{ path }}"
{% endfor %}    
         

sinks:
  out:
    inputs:
      - "in"
    type: "console"
    encoding:
      codec: "text"
api:
  enabled: true